.header__image {
  position: relative;
  margin: 70px 0 0 0;
  width: 783px;
  height: 600px;
  background-image: url('../images/JarritosBottles.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}