$primary-bg-color:    rgba(153, 96, 246, 1);
$second-bg-color:     rgba(53, 48, 255, .2);
$third-bg-color:      rgba(255, 255, 255, 1);
$fourth-bg-color:     rgba(206, 245, 100, 1);
$form-bg-color:       rgba(1, 100, 80, 1);
$logo-title-color:    rgba(255, 219, 0, 1);
$card-taste-bg-color: rgba(153, 96, 246, 1);
$card-comp-bg-color:  rgba(133, 86, 248, 1);